{% extends 'shop/base_shop.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>Available Products</h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for post in posts %}
            <div class="col">
                <div class="card shadow-sm">
                    <a href="{{ url_for('shop.post_detail', post_id=post['id']) }}">
                        <img src="{{ url_for('static', filename=post['image_path']) }}" alt="{{ post['title'] }}" class="bd-placeholder-img card-img-top">
                    </a>
                    <div class="card-body">
                        <p class="card-text">{{ post['description']|truncate(100) }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <form action="{{ url_for('shop.add_to_cart', post_id=post['id']) }}" method="post">
                                    <button type="submit" class="btn btn-sm btn-outline-secondary">Cart</button>
                                </form>
                                <button type="button" class="btn btn-sm btn-outline-secondary">
                                    <strong>Price:</strong> ${{ post['price'] }}
                                </button>
                            </div>
                            <small class="text-body-secondary">Posted by <strong>{{ post['author'] }}</strong> on {{ post['created'] }}</small>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
